@import "./base";
@import "./footer";

.reservations {
   background-image: url(../img/desktop/booking-bg-img.jpg), url(../img/form-bg-img.svg);
   background-repeat: no-repeat, no-repeat;
   background-size: 100% auto, auto;
   background-position: left top, left bottom;
   padding-bottom: 116px;
   // background-image: url(../img/booking-bg-img.png);
   // background-repeat: no-repeat;
   // // background-size: ;
   // background-size: 100% auto;
   // background-position: left top;

   header {
      padding-top: 65px;
      padding-bottom: 65px;
      margin-bottom: 88px;
   }

   &__content {
      display: flex;
      justify-content: space-between;
      // flex-wrap: wrap;
      column-gap: 30px;

      .info {
         max-width: 445px;

         h2 {
            font-size: 80px;
            font-weight: 300;
            margin-bottom: 18px;
         }
      }

      form {
         width: 540px;
         display: flex;
         flex-direction: column;
         padding: 48px;
         box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.50);
         background-color: white;

         &>div {
            margin-bottom: 34px;
         }

         .date,
         .time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $dark;

            &>div:last-child {
               max-width: 309px;
               display: flex;
               justify-content: space-between;
               gap: 16px;
               flex-grow: 1;

               select {
                  text-transform: uppercase;
               }
            }
         }

         .counter {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            span{
               color: $dark;
            }

            button {
               padding: 0;
               font-weight: 700;
               color: #9E7F66;
            }
         }
      }
   }
}

input,.counter{
   width: 100%;
}

input,
select,
.counter {
   border: 0;
   padding: 2px 16px 15px 16px;
   border-bottom: 1px solid #8E8E8E;
   font-size: 20px;
   outline: 0;

   &:focus {
      border-bottom: 1px solid #9E7F66;
   }
}

.error {
   span{
      color: #B54949;
   }
   input , select{
      color: #B54949;
      border-color: #B54949;
      &::placeholder {
         color: #B54949;
      }
   }
   .error-el {
      color: #B54949;
      margin-top: 1px;
      text-align: left;
      font-size: 10px;
   }
   .error-el-select {
      padding: 0;
   }
}

input {
   color: $dark;

   &::placeholder {
      opacity: 0.5;
   }
}

@media screen and (max-width: 980px) {
   .reservations {
      background-image: url(../img/tablet/booking-bg-img.jpg), none;
      background-size: 100% auto;

      header {
         padding-top: 56px;
         padding-bottom: 56px;
         margin-bottom: 70px;
      }

      &__content {
         text-align: center;
         align-items: center;
         flex-direction: column;

         .info {
            max-width: 100%;
            margin-bottom: 38px;
         }

         form {
            .date,.time{
               flex-wrap: wrap;
            }
            &::before {
               display: none;
            }
         }
      }
   }
}

// @media screen and (max-width: 678px) {
//    .reservations {
//       background-image: url(../img/mobile/booking-bg-img.jpg), none;
//       &__content {
//          .info {
//             h2{
//                font-size: 32px;
//             }
//          }
//          form {
//             max-width: 100%;
//             .date,.time{
//                row-gap: 8px;
//                &>div:last-child{
//                   max-width: 100%;
//                   justify-content: space-between;
//                   gap: 0;
//                }
//             }
//          }
//       }
//    }
// }

@media screen and (max-width: 678px){
   .reservations{
      &__content {
         form {
            max-width: 100%;
         }
      }
   }
}
@media screen and (max-width: 601px) {
   .reservations {
      background-image: url(../img/mobile/booking-bg-img.jpg), none;
      &__content {
         .info {
            h2{
               font-size: 32px;
            }
         }
         form {
            padding: 32px;
            .date,.time{
               row-gap: 8px;
               flex-direction: column;
               align-items: stretch;
               &>div:first-child{
                  text-align: start;
               }
               &>div:last-child{
                  max-width: 100%;
                  justify-content: space-between;
                  gap: 0;
               }
            }
         }
      }
      .btn {
         padding: 19px 0 17px 0;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
}